body {
    background-color: black;
    color: white;
    text-align: center;
}

.maintitle{
    overflow: hidden;
    text-align: center;
}

.maintitle > img {
    width: 70%;
}

.greetingstext {
    text-align: center;
    position: relative;
    top : -30px;
}

.greetingstext > p {
    margin-top: 0px;
}

.promotion {
    text-align: center;
    position: relative;
}

.promotion > p {
    margin: 0;
}

.talk-to-human {
    text-align: center;
    position: relative;
    top: 100px;
    
}

.talk-to-human > img {
    width: 60%;
}

.talk-to-human > .subtexts > p {
    margin: 0px;
    font-size: 15px;
}

.talk-to-human > .subtexts {
    position: relative;
    height: 100px;
    top: 30px
}

.menu {
    width: 800px;
    overflow: hidden;
    margin: 150px auto;
    cursor: pointer;
}
  
.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #000000;
}
  
.menu a {
    color: #fff;
    
}
.submenu {
    height: 0; 
    overflow: hidden;
    transition-duration: 1s;
    
}
  
.menu > li:hover .submenu {
    height: 150px;
    transition-duration: 1s;
}

.menu {
    margin: 0px;
}

.message {
    z-index: 5;
    border: #fff solid;
    background-color: red;
    right: 10%;
    width: 300px;
    height: 300px;
    position: absolute;
}

.message > .closebutten{
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    right: -56%;
}

.login {
    position: relative;
    float: right;
    right: 10px;
    background-color: #000000;
    width: 80px;
    height: 50px;
    
}
.login > a {
    position: absolute;
    top: 25%;
    right: 20%;
    color: #fff;
    text-decoration: none;
    transition-duration: 1s;
}

.login:hover {
    > a {
        color: rgb(86, 86, 190);
        transition-duration: 1s;
    }
}

.menu > li > ul > li > .gotohome{
    transition-duration: 1s;
    text-decoration: none;
    color: #fff;
}

.menu > li > ul > li > .gotoserver{
    transition-duration: 1s;
    text-decoration: none;
    color: #fff;
}

.menu > li > ul > li > .gotohome:hover{
    transition-duration: 1s;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

.menu > li > ul > li > .gotoserver:hover{
    transition-duration: 1s;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

.menu > li > ul > li > .serching{
    transition-duration: 1s;
    text-decoration: none;
    color: #fff;
}

.menu > li > ul > li > .serching:hover{
    transition-duration: 1s;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}
