body {
    background-color: black;
    color: white;
}

.maintitle{
    overflow: hidden;
    text-align: center;
}

.maintitle > img {
    width: 70%;
}

.menu {
    width: 800px;
    overflow: hidden;
    margin: 150px auto;
}
  
.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #000000;
}
  
.menu a {
    color: #fff;
    
}
.submenu {
    height: 0; 
    overflow: hidden;
    transition-duration: 1s;
}
  
.menu > li:hover .submenu {
    height: 100px;
    transition-duration: 1s;
}

.menu {
    margin: 0px;
}

.bigtext {
    text-align: center;
}

.serverlist-one {
    margin-top: 100px;
    height: 300px;
    text-align: center;
}

.serverlist-two {
    height: 300px;
    text-align: center;
}

.serverlist-one > .server-one{
    display: inline-block;
    position: relative;
    border: red solid 3px;
    height: 40%;
    width: 120px;
    text-align: center;
}

.serverlist-one > .server-one > h3{
    margin: 0;
    position: relative;
    top: 1%;
}

.serverlist-one > .server-one > p{
    margin: 0;
    position: relative;
    top: 20%;
}

.serverlist-one > .server-one > .ping{
    margin: 0;
    position: relative;
    top: 20%;
    color: red
}

.serverlist-one > .server-two{
    display: inline-block;
    position: relative;
    border: red solid 3px;
    height: 40%;
    width: 120px;
    text-align: center;
}

.serverlist-one > .server-two > h3{
    margin: 0;
    position: relative;
    top: 1%;
}

.serverlist-one > .server-two > p{
    margin: 0;
    position: relative;
    top: 20%;
}

.serverlist-one > .server-two > .ping{
    margin: 0;
    position: relative;
    top: 20%;
    color: red
}

.serverlist-one > .server-three{
    display: inline-block;
    position: relative;
    border: red solid 3px;
    height: 40%;
    width: 120px;
    text-align: center;
}

.serverlist-one > .server-three > h3{
    margin: 0;
    position: relative;
    top: 1%;
}

.serverlist-one > .server-three > p{
    margin: 0;
    position: relative;
    top: 20%;
}

.serverlist-one > .server-three > .ping{
    margin: 0;
    position: relative;
    top: 20%;
    color: red
}

.serverlist-two > .server-one{
    display: inline-block;
    position: relative;
    border: red solid 3px;
    height: 40%;
    width: 120px;
    text-align: center;
}

.serverlist-two > .server-one > h3{
    margin: 0;
    position: relative;
    top: 1%;
}

.serverlist-two > .server-one > p{
    margin: 0;
    position: relative;
    top: 20%;
}

.serverlist-two > .server-one > .ping{
    margin: 0;
    position: relative;
    top: 20%;
    color: red
}

.serverlist-two > .server-two{
    display: inline-block;
    position: relative;
    border: red solid 3px;
    height: 40%;
    width: 120px;
    text-align: center;
}

.serverlist-two > .server-two > h3{
    margin: 0;
    position: relative;
    top: 1%;
}

.serverlist-two > .server-two > p{
    margin: 0;
    position: relative;
    top: 20%;
}

.serverlist-two > .server-two > .ping{
    margin: 0;
    position: relative;
    top: 20%;
    color: red
}

.serverlist-two > .server-three{
    display: inline-block;
    position: relative;
    border: red solid 3px;
    height: 40%;
    width: 120px;
    text-align: center;
}

.serverlist-two > .server-three > h3{
    margin: 0;
    position: relative;
    top: 1%;
}

.serverlist-two > .server-three > p{
    margin: 0;
    position: relative;
    top: 20%;
}

.serverlist-two > .server-three > .ping{
    margin: 0;
    position: relative;
    top: 20%;
    color: red
}