body {
    background-color: black;
    color: white;
}

.maintitle{
    overflow: hidden;
    text-align: center;
}

.maintitle > img {
    width: 70%;
}

.menu {
    width: 800px;
    overflow: hidden;
    margin: 150px auto;
    cursor: pointer;
}

.data{
    text-align: center;
}

.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #000000;
}
  
.menu a {
    color: #fff;
    
}
.submenu {
    height: 0; 
    overflow: hidden;
    transition-duration: 1s;
    
}
  
.menu > li:hover .submenu {
    height: 150px;
    transition-duration: 1s;
}

.menu {
    margin: 0px;
}

.menu > li > ul > li > .gotohome{
    transition-duration: 1s;
    text-decoration: none;
    color: #fff;
}

.menu > li > ul > li > .gotoserver{
    transition-duration: 1s;
    text-decoration: none;
    color: #fff;
}

.menu > li > ul > li > .gotohome:hover{
    transition-duration: 1s;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

.menu > li > ul > li > .gotoserver:hover{
    transition-duration: 1s;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

.menu > li > ul > li > .serching{
    transition-duration: 1s;
    text-decoration: none;
    color: #fff;
}

.menu > li > ul > li > .serching:hover{
    transition-duration: 1s;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}


.inputbox > input {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 400px;
    height: 50px;
    transition-duration: 1s;
    text-align: center;
}

.inputbox > input:not(:placeholder-shown) {
    border: 3px solid lightgreen;
    background-color: rgb(0, 0, 0);
}

.inputbox > input:hover {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.inputbox > input:hover:not(:placeholder-shown) {
    border: 3px solid lightgreen;
    background-color: rgb(0, 0, 0);
}


.inputbox > input::placeholder {
    color: white;
    transition-duration: 1s;
}

*:focus {
    outline: none;
}

.inputbox{
    text-align: center;
}