body {
    background-color: black;
    color: white;
}

.maintitle{
    overflow: hidden;
    text-align: center;
}

.maintitle > img {
    width: 60%;
}

.login {
    text-align: center;
    margin: 0;
}
